{% extends "home/base.html" %}
{% block title %}Similarities and Differences between the Arizona and US Constitution{% endblock %}
{% block content %}


<div class="sevenup">
    <h5 style="text-align: center; margin-top: 2%; margin-bottom: 2%; font-family: Georgia, 'Times New Roman', Times, serif;"><strong>Similarities and Differences between the Arizona and US Constitution</strong></h5>
    <div class="mavitu" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <p>The Arizona and US constitutions are almost similar in terms of key areas covered. The Arizona Constitution (AC) is however significantly longer than the US constitution in terms of size. Like most state constitutions, the AC creates the structure of the state government and the court system in the country. The US constitution is generally superior to all state constitutions, meaning states can&rsquo;t have laws in their constitution that contradict the federal constitution. The federal and Arizona constitutions are however quite similar in terms of their key features and major provisions.</p>
        <p>A key difference between the Arizona and US constitutions is the bill of rights. The AC goes in more detail about the rights and freedoms of people in the state (Arizona Common Law, 2018). While the national constitution only covers the basic rights and freedoms of each individual, the AC and includes more sections on the rights of citizens. This is a key reason why the AC is longer than the US constitution.</p>
        <p>The organization of the AC is also significantly different from the organization of the US constitution. While each section of the US constitution covers a distinct topic that relates to specific aspects of life, the AC can have more than one section covering the same subject or topic. This is also a key reason why the AC is significantly longer than the US constitution.</p>
        <p>The federal constitution is quite summarized and can be ambiguous in some cases, hence the need for judicial interpretation. The AC on the other hand is quite detailed and expounds on each topic or area of life it covers. This is also a key reason why it is longer.</p>
        <p>&nbsp;</p>
        <p><strong>References</strong></p>
        <p>1. Arizona Common Law. (2018). <em>Arizona Constitution</em>. Retrieved from ACL.</p>
    </div>
</div>


{% endblock content %}
