{% extends "home/base.html" %}
{% block title %}Internal and External Analysis of the NFL&rsquo;s New York Giants{% endblock %}
{% block content %}


<div class="sevenup">
    <h5 style="text-align: center; margin-top: 2%; margin-bottom: 2%; font-family: Georgia, 'Times New Roman', Times, serif;"><strong>Internal and External Analysis of the NFL&rsquo;s New York Giants</strong></h5>
    <div class="mavitu" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <p>New York is a major sports market in the country and is known for its dedicated fans. As a result, the franchise benefits from the high attendance numbers at most of its games. The company also collaborates with different brands to provide its fans in attendance with various products and services as an incentive to get more fans to attend. As one of the oldest franchises in the country, the Giants have over time greatly improved as an organization. Despite the collapse of other franchises that were registered at the same time as the Giants, it has been able to survive through internal efficiencies resulting from good management. Recognized as a world-class organization, the Giants is well managed and is one of the most valuable football brands in the NFL (Badenhausen, 2017). The Giants are currently based at the MetLife Stadium, which is the second largest football stadium regarding sitting capacity and is therefore ideal for any new projects that the team may undertake.</p>
        <p>As a major sports market, New York is an ideal location that can support any new projects that the franchise undertakes. The New York sports market is recognized as one of the best in the country (King, 2014). Additionally, the Giants have been a highly successful franchise in the NFL, and have won a combined total of eight titles. The NFL as a major league franchise records the highest revenues of all the major sports leagues in the country (Fox Sports, 2014). This adds to the brand value of the Giants, which is an essential determinant of the success the franchise is likely to have in its planned projects.</p>
        <p>&nbsp;</p>
        <p><strong>References</strong></p>
        <p>1. Badenhausen, K. (2017). <em>The Dallas Cowboys Head The NFL's Most Valuable Teams At $4.8 Billion.</em> Retrieved from Forbes: https://www.forbes.com/sites/kurtbadenhausen/2017/09/18/the-dallas-cowboys-head-the-nfls-most-valuable-teams-at-4-8-billion/#58edf269243f</p>
        <p>2. Fox Sports. (2014). <em>Which pro sport generates the most revenues?</em> Retrieved from Fox Sports: https://www.foxsports.com/buzzer/story/which-pro-sport-generates-the-most-revenue-051414</p>
        <p>3. King, M. (2014). <em>The 25 Best Cities to Be a Sports Fan.</em> Retrieved from Bleacher Report: http://bleacherreport.com/articles/2313355-the-25-best-cities-to-be-a-sports-fan</p>
    </div>
</div>


{% endblock content %}


